venv/
pe_file/
pe_file_result/

.DS_Store
.idea/
__pycache__/

config/*
!config/config.defaults.ini

dummy.py
test.py
extract_1mb_file.py
file_size_temp.py
query_temp.py
temp.py
histogram.py
apics.py
gt.py
demo.py
sampling.py
virussign_unzip.py